@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500&display=swap");
body {
  font-family: "Roboto Mono", monospace;
  background: #1b1d24;
}
.bg-light {
  background-color: transparent !important;
}
.navbar-light .navbar-nav .nav-link {
  color: rgb(255, 255, 255);
  padding: 0px 55px;
}
.navbar-light .navbar-brand {
  color: rgb(255, 255, 255);
}
@media (min-width: 768px) {
  .site-footer {
    padding: 4em 0;
  }
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #ff5733 !important;
}
.site-footer {
  background: #000000;
  padding: 4em 0;
}
.site-footer .border-top {
  border-top: 1px solid rgba(255, 255, 255, 0.1) !important;
}
.site-footer h2,
.site-footer h3,
.site-footer h4,
.site-footer h5 {
  color: #fff;
}
.site-footer a {
  color: #fff;
}
.site-footer a:hover {
  color: #ff5733;
}
.site-footer ul li {
  margin-bottom: 10px;
}
.site-footer .footer-heading {
  font-size: 16px;
  color: #818186 !important;
}
#tal {
  height: 100vh;
}
h1 {
  color: white;
  margin-bottom: 10px;
}
.img-thumbnail {
  margin: 15px;
}
